{% extends 'base/base.html' %}
{% load staticfiles %}
{% block page_title %}
    列表
{% endblock %}
{% block page_css %}
    <link href="{% static 'assets/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/admin.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/base/demo.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/hmstyle.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/seastyle.css' %}" type="text/css">
{% endblock %}
{% block page_js %}
    <script src="{% static 'js/cate.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/amazeui.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/sidenav.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/time_activite.js' %}" type="text/javascript"></script>
{% endblock %}
{% block page_head %}
    {% include 'common/top.html' %}
    {% include 'common/search/search.html' %}
{% endblock %}
{% block page_main %}
    <div class="tip">
			<div id="sidebar">
				<div id="wrap">
					<div id="prof" class="item">
						<a href="#">
							<span class="setting"></span>
						</a>
						<div class="ibar_login_box status_login" style="display: none;">
							<div class="avatar_box">
								<p class="avatar_imgbox"><img src="/static/images/no-img_mid_.jpg"></p>
								<ul class="user_info">
									<li>用户名：sl1903</li>
									<li>级&nbsp;别：普通会员</li>
								</ul>
							</div>
							<div class="login_btnbox">
								<a href="#" class="login_order">我的订单</a>
								<a href="#" class="login_favorite">我的收藏</a>
							</div>
							<i class="icon_arrow_white"></i>
						</div>

					</div>
					<div id="shopCart" class="item">
						<a href="#">
							<span class="message"></span>
						</a>
						<p>
							购物车
						</p>
						<p class="cart_num">0</p>
					</div>
					<div id="asset" class="item">
						<a href="#">
							<span class="view"></span>
						</a>
						<div class="mp_tooltip" style="left: -121px; visibility: hidden;">
							我的资产
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div id="foot" class="item">
						<a href="#">
							<span class="zuji"></span>
						</a>
						<div class="mp_tooltip" style="left: -121px; visibility: hidden;">
							我的足迹
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div id="brand" class="item">
						<a href="#">
							<span class="wdsc"><img src="/static/images/wdsc.png"></span>
						</a>
						<div class="mp_tooltip">
							我的收藏
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div id="broadcast" class="item">
						<a href="#">
							<span class="chongzhi"><img src="/static/images/chongzhi.png"></span>
						</a>
						<div class="mp_tooltip">
							我要充值
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div class="quick_toggle">
						<li class="qtitem">
							<a href="#"><span class="kfzx"></span></a>
							<div class="mp_tooltip" style="left: -121px; visibility: hidden;">客服中心<i class="icon_arrow_right_black"></i></div>
						</li>
						<!--二维码 -->
						<li class="qtitem">
							<a href="#none"><span class="mpbtn_qrcode"></span></a>
							<div class="mp_qrcode" style="display: none;"><img src="/static/images/weixin_code_145.png"><i class="icon_arrow_white"></i></div>
						</li>
						<li class="qtitem">
							<a href="#top" class="return_top"><span class="top"></span></a>
						</li>
					</div>

					<!--回到顶部 -->
					<div id="quick_links_pop" class="quick_links_pop hide"></div>

				</div>

			</div>
			<div id="prof-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					我
				</div>
			</div>
			<div id="shopCart-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					购物车
				</div>
			</div>
			<div id="asset-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					资产
				</div>

				<div class="ia-head-list">
					<a href="#" target="_blank" class="pl">
						<div class="num">0</div>
						<div class="text">优惠券</div>
					</a>
					<a href="#" target="_blank" class="pl">
						<div class="num">0</div>
						<div class="text">红包</div>
					</a>
					<a href="#" target="_blank" class="pl money">
						<div class="num">￥0</div>
						<div class="text">余额</div>
					</a>
				</div>

			</div>
			<div id="foot-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					足迹
				</div>
			</div>
			<div id="brand-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					收藏
				</div>
			</div>
			<div id="broadcast-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					充值
				</div>
			</div>
		</div>
    <div class="am-g am-g-fixed">
						<div class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">
							<div class="searchAbout">
								<span class="font-pale">相关搜索：</span>
								<a title="坚果" href="#">坚果</a>
								<a title="瓜子" href="#">瓜子</a>
								<a title="鸡腿" href="#">豆干</a>

							</div>
							<ul class="select">
								<p class="title font-normal">
									<span class="fl">该分类下</span>
									<span class="total fl">总共有<strong class="num">{{ i }}</strong>件相关商品</span>
								</p>
								<div class="clear"></div>
								<li class="select-result">
									<dl>
										<dt>已选</dt>
										<dd class="select-no"></dd>
										<p class="eliminateCriteria">清除</p>
									</dl>
								</li>
								<div class="clear"></div>
								<li class="select-list">
									<dl id="select1">
										<dt class="am-badge am-round">生活便捷</dt>
										 <div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
                                                {% for obj in cate_1 %}
                                                    <dd><a href="{{ sort }}">{{ obj.name }}</a></dd>
                                                {% endfor %}
                                         </div>

									</dl>
                                    <dl id="select2">
                                        <dt class="am-badge am-round">价格区间</dt>
                                            <div class="dd-conent">
                                                <dd class="select-all selected"><a href="{% url 'list:sort' %}?page={{  shop_list.number }}&cate_id={{ cate_id }}&price=0&sale_num={{ sale_num }}&price_sort={{ price_sort }}">全部</a></dd>
                                                <dd><a href="{% url 'list:sort' %}?page={{  shop_list.number }}&cate_id={{ cate_id }}&price=1&sale_num={{ sale_num }}&price_sort={{ price_sort }}">0~100</a></dd>
                                                <dd><a href="{% url 'list:sort' %}?page={{  shop_list.number }}&cate_id={{ cate_id }}&price=2&sale_num={{ sale_num }}&price_sort={{ price_sort }}">100~200</a></dd>
                                                <dd><a href="{% url 'list:sort' %}?page={{  shop_list.number }}&cate_id={{ cate_id }}&price=3&sale_num={{ sale_num }}&price_sort={{ price_sort }}">200~500</a></dd>
                                                <dd><a href="{% url 'list:sort' %}?page={{  shop_list.number }}&cate_id={{ cate_id }}&price=4&sale_num={{ sale_num }}&price_sort={{ price_sort }}">500+</a></dd>
                                            </div>
                                    </dl>
								</li>
							</ul>
							<div class="clear"></div>
                        </div>
							<div class="search-content">
								<div class="sort">
									<li class="first"><a title="综合" href="{% url 'list:sort' %}?page={{ shop_list.number }}&cate_id={{ cate_id }}&price={{ price }}&sale_num=None&price_sort=None">综合排序</a></li>
									<li><a title="销量" href="{% url 'list:sort' %}?page={{ shop_list.number }}&cate_id={{ cate_id }}&price={{ price }}&sale_num=1&price_sort=None">销量排序（降序）</a></li>
                                    <li><a title="销量" href="{% url 'list:sort' %}?page={{ shop_list.number }}&cate_id={{ cate_id }}&price={{ price }}&sale_num=2&price_sort=None">销量排序（升序）</a></li>

                                    <li><a title="价格" href="{% url 'list:sort' %}?page={{ shop_list.number }}&cate_id={{ cate_id }}&price={{ price }}&sale_num=None&price_sort=1">价格优先（降序）</a></li>
                                    <li><a title="价格" href="{% url 'list:sort' %}?page={{ shop_list.number }}&cate_id={{ cate_id }}&price={{ price }}&sale_num=None&price_sort=2">价格优先（升序）</a></li>
								</div>
								<div class="clear"></div>

								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                                    {% for shop in shop_list %}
                                        <li>
                                            <a href="{% url 'detail' %}?id={{ shop.shop_id }}">
                                                <div class="i-pic limit">
                                                    <img src="/static/img/big/{{ shop.img_url }}.jpg">
                                                    <p class="title fl">{{ shop.name }}</p>
                                                    <p class="price fl">
                                                        <b>¥</b>
                                                        <strong>{{ shop.original_price }}</strong>
                                                    </p>
                                                    <p class="number fl">
                                                        销量<span>{{ shop.sale }}</span>
                                                    </p>
                                                </div>
                                            </a>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
    </div>

    <ul class="am-pagination am-pagination-right">
                    {% if shops_page.has_previous  %}
                        <li ><a  href="?page={{ shop_list.previous_page_number }}&cate_id={{ cate_id }}&price={{ price }}&sale_num={{ sale_num }}&price_sort={{ price_sort }}">&laquo;上一页</a></li>
                    {% else %}
                        <li class="am-disabled"><a>&laquo;上一页</a></li>
                    {% endif %}
                    {% for pindex in pages %}
                        <li {% if pindex == shop_list.number %}class="am-active"{% endif %}><a href="?page={{  pindex }}&cate_id={{ cate_id }}&price={{ price }}&sale_num={{ sale_num }}&price_sort={{ price_sort }}" >{{ pindex }}</a></li>
                    {% endfor %}
                    {% if goods_page.has_next %}
                        <li><a href="?page={{ shop_list.next_page_number }}&cate_id={{ cate_id }}&price={{ price }}&sale_num={{ sale_num }}&price_sort={{ price_sort }}">下一页&raquo;</a></li>
                    {% else %}
                        <li class="am-disabled"><a>下一页&raquo;</a></li>
                    {% endif %}
    </ul>
{% endblock %}
{% block page_footer %}
    {% include 'common/footer.html' %}
{% endblock %}